@{
    ViewData["Title"] = "Application Submitted";
}

@model Assignment6_eamado.Models.ApplicationResponse 

<h2>Movie received. Thank you.</h2> <!--Using razor code to get firstname from Aplication Response. make sure model is UPPERCASE Model to receive information-->
<!--Views are html pages with razor code-->
}