@{
    ViewData["Title"] = "Movies";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <p>Learn about these movies</p>
    <img src="~/img/JoelHiltonHeadshot.jpg" />
</div>
<br />
<div>
    <a asp-controller="Home" asp-action="MovieApplication">Enter Movies</a> <!--asp stuff acts like a link that goes to the controllers or routes that reroute the user to the correct page. ASP CONTROLLER= OUR HOME FOLDER. ASP-ACTION IS GOING FROM OUR HOME FOLDER TO THE FILE WE WANT TO DISPLAY WITH THIS LINK-->
    <a href="https://baconsale.com/">My Podcasts</a>
</div>

<div>
    <a asp-controller="Home" asp-action="Waitlist">View Wait List</a>
</div>